# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/
Debug/
Release/

# Rider
.idea/

# MAUI
*.db
*.pdb

# NuGet
*.nupkg
packages/

# OS
.DS_Store
Thumbs.db

# Resharper
_ReSharper*/
